{% load static %}
{% load bootstrap3 %}
{% load humanize %}


<body>
<!-- wrapper page -->

<!-- main-header -->
<header class="main-header">


    <div class="col-md-6">
        <!-- form search area-->
        <form method="get">
            {{ filter.form.as_p }}
            <button type="submit">Search</button>
        </form>

    </div>
    <ul>
        {% for job in filter.qs %}
            <li>{{ job.job_title }} </li>

        {% endfor %}
    </ul>


    <!-- main-footer -->

</header>
<!-- end wrapper page -->
</body>